* {
    box-sizing: border-box;
}

.product-container {
    height: auto;
    width: var(--max-width);
    max-width: var(--max-width);
    margin-bottom: 50px;
    margin-top: 50px;
}

.product-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
}

.customer-review-container {
    width: var(--max-width);
    height: 500px;
}

.recommended-categorized-shoes-container {
    width: var(--max-width);
    height: 500px;
}

.left-side-container {
    height: 510px;
    width: 405px;
}

.right-side-container {
    height: 510px;
    width: 600px;
    border: 1px solid #696662;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#product-brand {
    color: beige;
    font-family: var(--font-boston-light);
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.1rem;
}

#product-name {
    color: beige;
    font-family: var(--font-boston-bold);
    margin-top: 15px;
    margin-left: 50px;
    font-size: 1.9rem;
}

.num-review-container {
    display: flex;
    margin-left: 50px;
    gap: 13px;
    align-items: center;
}

.num-review-container img {
    width: 14px;
    height: 14px;
}

.num-review-container span {
    font-family: var(--font-boston-light);
    color: #F6BC72;
    font-family: var(--font-boston-light);
    font-size: 1rem;
}

#product-price {
    color: #F6BC72;
    font-family: var(--font-boston-regular);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 1.9rem;
}

#product-descri {
    color: aliceblue;
    font-family: var(--font-boston-light);
    margin-left: 50px;
    margin-top: 10px;
    font-size: 1rem;
}

.product-description {
    width: 485px;
    height: 150px;
    margin-left: 50px;
    margin-top: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

#description {
    color: aliceblue;
    font-family: var(--font-boston-light);
    font-size: 1rem;
    width: 485px;
}

.product-image-container {
    width: 405px;
    height: 330px;
    overflow: hidden;
}

.product-image-container img {
    width: 405px;
    height: 330px;
}

.quanty-container {
    height: 70px;
    width: 405px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-increment {
    height: 40px;
    width: 40px;
    border: 1px solid #F6BC72;
    cursor: pointer;
}

.container-decrement {
    height: 40px;
    width: 40px;
    border: 1px solid #F6BC72;
    cursor: pointer;
}

.quanty-get {
    height: 40px;
    width: 120px;
    border: 1px solid #F6BC72;
    font-family: var(--font-boston-light);
    font-size: 1.1rem;
    color: aliceblue;
}

.container-decrement,
.container-increment,
.quanty-get,
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    height: 40px;
    width: 140px;
    border: 1px solid #6CFACD;
    font-family: var(--font-boston-light);
    font-size: 1.1rem;
    color: aliceblue;
}

.container-increment img {
    width: 20px;
}

.container-decrement img {
    width: 20px;
    transform: rotate(-180deg);
}

.buy-container {
    margin-top: 40px;
    width: 405px;
    height: 50px;
    display: flex;
    align-items: center;
}

.buy-item {
    width: 265px;
    height: 50px;
    border: 1px solid #F6BC72;
    font-size: 1rem;
    font-family: var(--font-boston-light);
    color: #F6BC72;
    cursor: pointer;
}

.add-to-cart {
    width: 66px;
    height: 50px;
    border: 1px solid #F6BC72;
    border-left: 0px solid transparent;
    cursor: pointer;
}

.add-to-cart img {
    width: 20px;
}


.add-to-wishlist {
    width: 66px;
    height: 50px;
    border: 1px solid #F6BC72;
    border-left: 0px solid transparent;
    cursor: pointer;
}

.add-to-wishlist img {
    width: 20px;
}

.buy-item,
.add-to-cart,
.add-to-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-container-review {
    height: 350px;
    width: 600px;
    background-color: #1E1E23;
    border: 1px solid #696662;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-side-container-review {
    height: 350px;
    width: 405px;
    overflow: hidden;
}

.customer-review-container {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
}

.review-title {
    font-family: var(--font-boston-light);
    color: #F6BC72;
    font-size: 2.2rem;
    width: 100%;
    height: 70px;
}

.total-rating-container {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    overflow: hidden;
}

.total-rating-container .total-rating {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
}

.rating {
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
}

.rating-info {
    box-sizing: border-box;
    width: 175px;
    height: 100%;
    border-left: 4px solid #F6BC72;
    padding: 20px;
    display: flex;
    align-items: center;
}

#rating-info {
    color: #F6BC72;
    font-size: 1.1rem;
    font-family: var(--font-boston-extra-light);
}

#rating {
    font-family: var(--font-boston-bold);
    font-size: 7rem;
    color: #F6BC72;
}

.star-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 37px;
}

.star-container img {
    width: 24px;
    cursor: pointer;
}

.star-container span {
    font-family: var(--font-boston-extra-light);
    color: #F6BC72;
}

.recommended-categorized-shoes-container {
    margin-bottom: 0px;
}

.recommended-categorized-shoes-container .page-navigation {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    height: 55px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.recommended-categorized-shoes-container .page-navigation h3 {
    font-family: var(--font-boston-extra-light);
    color: #FEF9F4;
    font-size: 1.10rem;
    margin: 0;
    font-weight: 10;
}

.recommended-categorized-shoes-container .img-container {
    width: 25px;
    height: 25px;
    background-color: #F6BC72;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommended-categorized-shoes-container .img-container img {
    width: 15px;
    cursor: pointer;
}

.recommended-categorized-shoes-container .painter-name {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.recommended-categorized-shoes-container .painter-name h1 {
    color: #016DFF;
    font-family: var(--font-boston-bold);
    margin: 0;
}

.painter-name img {
    width: 100px;
}

.page-navigation .highlight {
    color: #6CFACD;
}

.recommended-categorized-shoes-container a {
    text-decoration: none;
}

.suggested-product {
    height: 345px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 61px;
}

/* * Product CARD tsaka syempre tutel 🐢✨*/ 
.product-card {
    height: 300px;
    background-color: #1E1E23;
    overflow: hidden;
    position: relative;
    /* transition: transform 0.5s ease; 
    will-change: transform; */
    cursor: pointer;
}

/* !Fix This */
/* .product-card:hover {
    transform: scale(1.1);
} */

.shoe-image-container img {
    width: 338px;
    height: 300px;
    transform: translateY(-65px);
}

.shoe-price-name-detail-container {
    background-color: #1E1E23;
    height: 90px;
    width: 340px;
    position: absolute;
    bottom: 0;
}

.shoe-name-container {
    font-family: var(--font-boston-extra-light);
    color: #FEF9F4;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
}

.shoe-name-container span {
    font-family: var(--font-boston-light);
    margin-left: 20px;
    margin-right: 20px;
}

.price-status-container {
    font-family: var(--font-boston-light);
    
    display: flex;
    align-items: center;
    height: 50px;
}

.price-status-container .shoe-price-container {
    margin-left: 20px;
}

.shoe-price-container span {
    color: #F6BC72;
    font-size: 1.2rem;
}

.price-status-container .new,
.price-status-container .limited,
.price-status-container .sale,
.price-status-container .none {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 2px;
    height: 28px;
    width: auto;
    border-radius: 8px 0 0 8px;
}

.price-status-container .new {
    color: #5EC30E;
    border: 1px solid #5EC30E;
}

.price-status-container .limited {
    color: #F3980E;
    border: 1px solid #F3980E;
}

.price-status-container .sale {
    color: darkorchid;
    border: 1px solid darkorchid;
}

.price-status-container .none {
    display: none;
}

.shoe-status span {
    font-size: .85rem;
    margin-left: 15px;
    margin-right: 15px;
}

.add-to-cart-container {
    width: 339px;
    top: 150px;
    position: absolute;
    background-color: rgb(4, 4, 16, .58);
    height: 60px;
    display: flex;
}

.add-to-cart-container img {
    position: absolute;
    width: 20px;
    height: 20px;
   
}

.add-to-cart-container #wishlist {
    right: 20px;
    bottom: -45px;
}

.add-to-cart-container #add-to-cart {
    right: 59px;
    bottom: -44px;
}

.highlight1 {
    color: #6CFACD;
}

.highlight2 {
    color: #F6BC72;
}

.original-price-crossing {
    text-decoration: line-through;
    color: #4d4133 !important;
}





#rating, #rating-info, .num-review {
    display: inline-block; 
    position: relative;
}


@keyframes rollOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); 
        opacity: 0; 
    }
}


@keyframes rollIn {
    0% {
        transform: translateY(20px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; /* Fade in */
    }
}

.roll-out {
    animation: rollOut 0.5s ease-out forwards;
}

.roll-in {
    animation: rollIn 0.5s ease-in forwards;
}