.main-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-container {
    justify-content: space-between;
    color: var(--color-seashell-100);
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 980px;
    max-width: 1135px;
    font-size: 15px;
}


.terms-footer {
    width: 980px;
    max-width: 1135px;
    color: wheat;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 250px;
}

.information-footer {
    width: 980px;
    max-width: 1135px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 161px;
}


.term-footer-container {
    border-top: 2px solid var(--color-gray-100);
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.for-more-updates {
    align-self: stretch;
    line-height: 22.67px;
    display: inline-block;

    position: relative;
    flex-shrink: 0;
}

.soc-med-icons {
    height: 22px;
    cursor: pointer;
}

.infinity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    width: 190px;
}

.word-logo {
    font-family: var(--font-boston-black);
    font-size: 1.2rem;
    margin: 0;
}

.updates {
    font-family: var(--font-boston-light);
    color: var(--color-darkgray);
    margin: 0;
    font-size: 1rem;
}

.resources {
    font-family: var(--font-boston-bold);
    margin-bottom: 6%;
    font-size: 1.1rem;
}

.help {
    font-family: var(--font-boston-bold);
    margin-bottom: 10%;
    font-size: 1.1rem;
}

.company {
    font-family: var(--font-boston-bold);
    margin-bottom: 10%;
    font-size: 1.1rem;
}

.membership,
.support-options,
.company-info {
    font-family: var(--font-boston-light);
    color: var(--color-darkgray);
    font-size: 1rem;
    cursor: pointer;
}

.resources-container,
.membership,
.help-parent,
.support-options,
.company-info,
.company-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.legal,
.infinity-inc-all,
.cookie-policy {
    font-family: var(--font-boston-light);
    color: var(--color-seashell-100);
    font-size: .7rem;
    opacity: 60%;
}

.c {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    color: rgba(82, 189, 158, 0.75);
    border: 1px solid rgba(82, 189, 158, 0.75);
    font-size: .5rem;
}


.all-rights-reserved {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: var(--font-boston-light);
}

.cookie-policy-wrapper {
    display: flex;
    flex-direction: row;
    font-family: var(--font-boston-light);
    font-size: .7rem;
    align-items: center;
    gap: 9px;
    
}

.cookie-icon {
    height: 18px;
}